<ion-header>
    <ion-toolbar>
        <ion-title>menu</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="goCart()">

                <ion-icon size="large" slot="" name="cart"></ion-icon>
                <ion-badge>{{ 0 }}</ion-badge>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>


<ion-content>
    <!-- 
    <ion-slides [options]="slideOps">
    <ion-slide *ngFor="let items of images">
        <ion-card > 
            <img [src]='items.image'>
                <ion-button size="small" color="medium" (click)="add(product)">Add to cart</ion-button>       
        </ion-card>
    </ion-slide> 
     
</ion-slides>
-->

    <div class="collection ion-padding" *ngFor="let items of images">

        <div class="collec">
            <ion-card>
                <img [src]='items.image'>
                <ion-title>R {{items.price}}</ion-title>
                <ion-button size="small" color="medium" (click)="add(product)">Add to cart</ion-button>
            </ion-card>
        </div>

    </div>


</ion-content>